<h4>
  Cart
</h4>
<div *ngIf="cartProducts && cartProducts.length else emptyCart">
  <p>Total quantity: {{totalQuantity}}</p>
  <p>Total price: {{totalPrice | currency}}</p>
  <p>
    Sort by:
    <select [(ngModel)]="orderByField">
      <option value="product/name">Name</option>
      <option value="quantity">Quantity</option>
    </select>
    Direction:
    <select [(ngModel)]="isDesc">
      <option value="true">Descending</option>
      <option value="">Ascending</option>
    </select>
  </p>
  <app-cart-item appHighlight *ngFor="let cartProduct of cartProducts | orderBy : orderByField : isDesc"
    [cartProduct]="cartProduct" (cartProductRemoved)="onCartProductRemoved($event)"
    (cartProductQuantityIncreased)="onCartProductQuantityIncreased($event)"
    (cartProductQuantityDecreased)="onCartProductQuantityDecreased($event)">
  </app-cart-item>
  <button (click)="onGoToOrder()"> Create order </button>
</div>
<ng-template #emptyCart>Cart is empty</ng-template>
